@media (max-width: 576px) { // Ajustes específicos para celulares pequeños
    p {
        width: 100%;  // Ocupará todo el ancho del contenedor
        max-width: 100%; // Asegura que no tenga límite de ancho
        margin: 0 auto;
        font-size: 16px;
        text-align: justify;
        line-height: 1.6;
        padding: 0 5%;
    }

    .img-grupo {
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
    }

    .img-grupo img {
        max-width: 100%; 
        display: block;
        height: auto;
        margin: 0 auto;
    }

    .logo {
        width: 100px;
    }

    .video-container {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}
