@media (max-width: 1024px) { // Tablets grandes 
    .img-grupo img {
        max-width: 220px;  
    }
}

@media (max-width: 768px) { // Para tablets y móviles 
    footer {
        font-size: 14px;
        padding: 10px;
    }

    .nav-link.active {
        font-size: 14px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        padding: 10px;
        text-align: center;
        display: block;
        width: 100%;
        font-size: 12px;
    }

    .logo {
        width: 120px;
    }

    .img-grupo img {
        max-width: 180px; 
    }

    .video-container {
        max-width: 100%;
        aspect-ratio: 16 / 9;
    }
}

@media (max-width: 576px) { // Ajustes específicos para celulares pequeños
    p {
        max-width: 90%; 
        margin: 0 auto;
        font-size: 16px; 
        text-align: justify;
        line-height: 1.6;
        padding: 0 1rem;
    }

    .img-grupo {
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
    }

    .img-grupo img {
        max-width: 80%; 
        display: block;
        height: auto;
        margin: 0 auto;
    }

    .logo {
        width: 100px;
    }

    .video-container {
        width: 90%;
        max-width: 95%;
        margin: auto;
    }

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
}
